    #age {
        margin-left: 9px;
    }
    
    #checkbox {
        margin-left: 5%;
    }
    
    .box-container {
        background-color: rgba(133, 102, 102, 0.645);
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        height: 970px;
        width: 900px;
        justify-content: center;
        align-items: center;
        margin-left: 16%;
        border-radius: 15px;
    }
    
    #name-input,
    #email-input,
    #age-input,
    #dropdown-selector,
    #comment-input {
        flex-basis: 51%;
    }
    
    #submitButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body {
        background: linear-gradient(100deg, #04ffff, #70b1b1)
    }
    
    #description {
        font-style: italic;
    }